:root {
  --main-bg-color: #1240c3;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: #333;
  background: #ececec;
}

.section {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 60px;
  margin-top: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.field {
  overflow: hidden;
  border: solid 4px var(--main-bg-color);
  position: relative;
  background-color: var(--main-bg-color);
  border-radius: 4px;
}

.row {
  height: 33.3%;
}

.cell, .empty {
  width: 80px;
  height: 80px;
  float: left;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin-right: 1px;
  margin-bottom: 1px;
  line-height: 80px;
  font-size: 30px;
  border-radius: 4px;
  transition: 0.8s;
}

.cell {
  background-color: white;
  border: solid 1px black;
}

.empty {
  background-color: transparent;
  color: transparent;
  border: solid 1px transparent;
}

.puzzle-configuration {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px 10px;
  width: 46%;

  .conf-label {
    min-width: 150px;
    font-weight: bold;
  }

  .options-wrap {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    height: 33px;
  }

  .radio-buttons-block {
    display: flex;
    margin-left: -10px;
  }

  .select-wrap {
    display: inline-block;
    margin-bottom: 10px;
    height: 33px;
  }

  .select-label {
    display: inline-block;
    line-height: 28px;
  }
}

.subtitle {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.button-section {
  display: flex;
  margin-bottom: 40px;
}

.result-option-wrap {
  margin-bottom: 10px;

  .result-label {
    font-weight: bold;
  }
}

.hide {
  display: none !important;
}
