:root {
  --main-bg-color: #1240c3;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: #333;
  background: #ececec;
}

.section {
  max-width: 840px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0 20px;

    .main-content {
      position: relative;
      padding: 0;
      flex: 1 1;
    }
  }
}

.title {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 60px;
  margin-top: 0;

  @media (max-width: 767px) {
    padding-top: 20px;
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.field {
  overflow: hidden;
  border: solid 4px var(--main-bg-color);
  position: relative;
  background-color: var(--main-bg-color);
  border-radius: 4px;
}

.row {
  height: 33.3%;
  display: flex;
}

.cell, .empty {
  $size: 80px;
  width: $size;
  height: $size;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin-right: 1px;
  margin-bottom: 1px;
  line-height: $size;
  font-size: 30px;
  border-radius: 4px;
  transition: 0.8s;
}

.cell {
  background-color: white;
  border: solid 1px black;
}

.largeField {
  @media (max-width: 767px) {
    .cell {
      $size: 65px;
      width: $size;
      height: $size;
      line-height: $size;
    }
  }
}

.empty {
  background-color: transparent;
  color: transparent;
  border: solid 1px transparent;
}

.puzzle-configuration {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px 10px;
  width: 46%;

  @media (max-width: 767px) {
    width: unset;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  .conf-label {
    min-width: 150px;
    font-weight: bold;
  }

  .options-wrap {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    height: 33px;
  }

  .radio-buttons-block {
    display: flex;
    margin-left: -10px;
  }

  .select-wrap {
    display: inline-block;
    flex-wrap: wrap;
    margin-bottom: 10px;
    height: 33px;

    @media (max-width: 767px) {
      margin-top: -5px;
      margin-bottom: -5px;
    }
  }

  .select-label {
    display: inline-block;
    line-height: 28px;
    min-width: 145px;

    @media (max-width: 767px) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.subtitle {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.button-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  min-height: 107px;

  @media (max-width: 767px) {
    justify-content: center;
  }

  .button-block {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      transition: 1s;
      position: relative;
    }
  }
}

.result {
  margin-bottom: 40px;
}

.result-option-wrap {
  margin-bottom: 10px;

  .result-label {
    font-weight: bold;
  }
}

.hide {
  display: none !important;
}

.play-wrap {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    width: 55%;
  }

  .play-button {
    cursor: pointer;
  }
}

.disabled-button {
  pointer-events: none;
  opacity: 0.4;
}

.footer {
  padding-bottom: 10px;
  text-align: center;

  .link {
    color: #009999;
    text-decoration: none;

    &:hover {
      color: #46c2c7;
    }
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0);
  }

  20%,60% {
    transform: rotate(-25deg);
  }

  40%,80% {
    transform: rotate(10deg);
  }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm{
    animation: none;
  }

  .github-corner .octo-arm{
    animation: octocat-wave 560ms ease-in-out;
  }
}

